.header_wraper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
	gap: 24px;
}


.header_wraper label	{
	position: relative;
	margin-right: auto;
	max-width: 525px;
	width: 100%;
}


.header_wraper label span	{
	display: block;
	position: absolute;
	top: 50%;
	left: 4%;
	width: 21px;
	height: 21px;
	transform: translate(0,-50%);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20.536812' height='21.000000' viewBox='0 0 20.5368 21' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Combined-Shape' d='M9.8698 0C15.3119 0 19.7386 4.42676 19.7386 9.8689C19.7386 12.4363 18.7532 14.7781 17.1408 16.5356L20.3136 19.7019C20.6105 19.9988 20.6116 20.479 20.3146 20.7761C20.1667 20.926 19.9711 21 19.7765 21C19.5829 21 19.3883 20.926 19.2394 20.7781L16.0283 17.5759C14.3391 18.9287 12.1973 19.7385 9.8698 19.7385C4.42768 19.7385 0 15.3108 0 9.8689C0 4.42676 4.42768 0 9.8698 0ZM9.8698 1.52026C5.26579 1.52026 1.52015 5.26465 1.52015 9.8689C1.52015 14.4729 5.26579 18.2185 9.8698 18.2185C14.4728 18.2185 18.2184 14.4729 18.2184 9.8689C18.2184 5.26465 14.4728 1.52026 9.8698 1.52026Z' fill='%238F8F8F' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e ");
	background-position: center;
	background-repeat: no-repeat;
	
}


.header_wraper input	{
	border-radius: 20px;
	background: var(--mainGrey);
	width: 100%;
	outline: none;
	padding: 18px 10px 14px 65px;
	border: none;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: rgb(143, 143, 143);;
}


.header_wraper button	{
	border-radius: 20px;
	background: var(--mainGrey);
	width: 62px;
	height: 62px;
}

.header_wraper .button_avatar {
	border-radius: 20px;
	background: var(--mainGrey);
	width: 62px;
	height: 62px;
	text-decoration: none;
}