.header_wraper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
	gap: 24px;
}


.header_wraper label	{
	position: relative;
	margin-right: auto;
	max-width: 525px;
	width: 100%;
}


.header_wraper label span	{
	display: block;
	position: absolute;
	top: 50%;
	left: 4%;
	width: 21px;
	height: 21px;
	transform: translate(0,-50%);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20.536812' height='21.000000' viewBox='0 0 20.5368 21' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Combined-Shape' d='M9.8698 0C15.3119 0 19.7386 4.42676 19.7386 9.8689C19.7386 12.4363 18.7532 14.7781 17.1408 16.5356L20.3136 19.7019C20.6105 19.9988 20.6116 20.479 20.3146 20.7761C20.1667 20.926 19.9711 21 19.7765 21C19.5829 21 19.3883 20.926 19.2394 20.7781L16.0283 17.5759C14.3391 18.9287 12.1973 19.7385 9.8698 19.7385C4.42768 19.7385 0 15.3108 0 9.8689C0 4.42676 4.42768 0 9.8698 0ZM9.8698 1.52026C5.26579 1.52026 1.52015 5.26465 1.52015 9.8689C1.52015 14.4729 5.26579 18.2185 9.8698 18.2185C14.4728 18.2185 18.2184 14.4729 18.2184 9.8689C18.2184 5.26465 14.4728 1.52026 9.8698 1.52026Z' fill='%238F8F8F' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e ");
	background-position: center;
	background-repeat: no-repeat;
	
}


.header_wraper input	{
	border-radius: 20px;
	background: var(--mainGrey);
	width: 100%;
	outline: none;
	padding: 18px 10px 14px 65px;
	border: none;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: rgb(143, 143, 143);;
}


.header_wraper button	{
	cursor: pointer;
	position: relative;
	border-radius: 20px;
	background: var(--mainGrey);
	width: 62px;
	height: 62px;
}

.header_wraper .button_avatar {
	border-radius: 20px;
	background: var(--mainGrey);
	width: 62px;
	height: 62px;
	text-decoration: none;
}
.button_message::after, .button_alert::after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 25px;
	width: 25px;
	background-position: center;
	background-repeat: no-repeat;
}

.button_alert::after 	{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20.828857' height='24.504395' viewBox='0 0 20.8289 24.5044' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M7.91882 21.1082C8.53137 20.9785 12.2636 20.9785 12.8761 21.1082C13.3997 21.229 13.9659 21.5115 13.9659 22.1287C13.9355 22.7161 13.5909 23.2368 13.1148 23.5674C12.4974 24.0486 11.7729 24.3535 11.0155 24.4634C10.5966 24.5176 10.185 24.5188 9.7807 24.4634C9.02209 24.3535 8.29755 24.0486 7.6814 23.5662C7.20404 23.2368 6.85944 22.7161 6.82898 22.1287C6.82898 21.5115 7.39526 21.229 7.91882 21.1082ZM10.4698 0C13.0185 0 15.6219 1.20923 17.1684 3.21582C18.1718 4.50781 18.6321 5.79858 18.6321 7.80493L18.6321 8.32715C18.6321 9.86572 19.0388 10.7727 19.9338 11.8181C20.6121 12.5881 20.8289 13.5764 20.8289 14.6489C20.8289 15.72 20.4769 16.7368 19.7719 17.5623C18.8488 18.552 17.5471 19.1838 16.2186 19.2937C14.2934 19.4578 12.367 19.5959 10.415 19.5959C8.46185 19.5959 6.53662 19.5132 4.61145 19.2937C3.28174 19.1838 1.97998 18.552 1.05817 17.5623C0.353149 16.7368 0 15.72 0 14.6489C0 13.5764 0.217957 12.5881 0.89502 11.8181C1.81805 10.7727 2.19794 9.86572 2.19794 8.32715L2.19794 7.80493C2.19794 5.74438 2.71185 4.39673 3.77002 3.07764C5.34326 1.15381 7.86517 0 10.3602 0L10.4698 0Z' fill='%238F8F8F' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
}

.button_message::after	{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25.000000' height='25.000000' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M12.525 0C19.625 0 25 5.82129 25 12.4812C25 20.2053 18.7 25 12.5 25C10.45 25 8.17499 24.4492 6.34998 23.3726C5.71252 22.9844 5.17499 22.6965 4.48749 22.9219L1.96252 23.6731C1.32501 23.8733 0.75 23.3726 0.9375 22.6965L1.77502 19.8923C1.91248 19.5042 1.88751 19.0911 1.6875 18.7656C0.612488 16.7876 0 14.6218 0 12.5188C0 5.93384 5.26251 0 12.525 0ZM18.2375 10.929C17.35 10.929 16.6375 11.6426 16.6375 12.5312C16.6375 13.4077 17.35 14.1338 18.2375 14.1338C19.125 14.1338 19.8375 13.4077 19.8375 12.5312C19.8375 11.6426 19.125 10.929 18.2375 10.929ZM12.475 10.929C11.6 10.9163 10.875 11.6426 10.875 12.5188C10.875 13.4077 11.5875 14.1211 12.475 14.1338C13.3625 14.1338 14.075 13.4077 14.075 12.5312C14.075 11.6426 13.3625 10.929 12.475 10.929ZM6.71252 10.929C5.82501 10.929 5.11249 11.6426 5.11249 12.5312C5.11249 13.4077 5.83752 14.1338 6.71252 14.1338C7.59998 14.1211 8.3125 13.4077 8.3125 12.5312C8.3125 11.6426 7.59998 10.929 6.71252 10.929Z' fill='%238F8F8F' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
}