.logo_wraper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: var(--mainGrey);
	height: 100%;
	margin-right: 40px ;
}


.logo_wraper ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 45px;
	padding: 0 20px;
	margin:0;
}


.logo_wraper li{
	list-style: none;
	text-decoration: none;
}


.logo_wraper ul li:last-child{
	padding-top: 45px;
	border-top: 1px solid rgb(143, 143, 143);
}


.logo_wraper svg path {
	fill:#8F8F8F;
}


.logo_wraper a {
	margin-top: 2%;
	padding: 0 30px 0 40px;
	font-family: BakbakOne-Regular;
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	line-height: 31px;
	text-decoration: none;
}