.logo_wraper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: var(--mainGrey);
	height: 100%;
	padding: 15px 0px;
}


.logo_wraper ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 45px;
	padding: 0 20px;
	margin: 0;
}


.logo_wraper li {
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.logo_wraper li a {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	text-decoration: none;
	background-position: center;
	background-repeat: no-repeat;
}

.logo_wraper-home a {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21.466873' height='22.596680' viewBox='0 0 21.4669 22.5967' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs /%3e%3cpath id='Vector' d='M7.4962 21.2107L7.4962 17.7561C7.4962 16.8743 8.21635 16.1592 9.10471 16.1592L12.3521 16.1592C12.7787 16.1592 13.1878 16.3274 13.4894 16.627C13.7911 16.9265 13.9605 17.3325 13.9605 17.7561L13.9605 21.2107C13.9579 21.5774 14.1027 21.9299 14.3629 22.1902C14.6231 22.4504 14.9772 22.5967 15.3465 22.5967L17.562 22.5967C18.5967 22.5994 19.5899 22.1931 20.3225 21.4678C21.0551 20.7424 21.4669 19.7573 21.4669 18.7302L21.4669 8.88818C21.4669 8.05859 21.0964 7.27148 20.4552 6.73901L12.9186 0.763672C11.6075 -0.28418 9.72914 -0.250244 8.45726 0.843994L1.09256 6.73901C0.421143 7.25586 0.0198364 8.04517 0 8.88818L0 18.7202C0 20.8611 1.74829 22.5967 3.90491 22.5967L6.06981 22.5967C6.83688 22.5967 7.4603 21.9824 7.46585 21.2207L7.4962 21.2107Z' fill='%238F8F8F' fillOpacity='1.000000' fillRule='nonzero' /%3e%3c/svg%3e");
}

.logo_wraper-me a {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18.722992' height='23.403809' viewBox='0 0 18.723 23.4038' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cpath id='Vector' d='M9.3615 15.416C14.4385 15.416 18.723 16.241 18.723 19.4238C18.723 22.6079 14.4104 23.4038 9.3615 23.4038C4.28566 23.4038 0 22.5789 0 19.3958C0 16.2117 4.31259 15.416 9.3615 15.416ZM9.3615 0C12.8008 0 15.5565 2.75464 15.5565 6.19141C15.5565 9.62842 12.8008 12.3843 9.3615 12.3843C5.92337 12.3843 3.16655 9.62842 3.16655 6.19141C3.16655 2.75464 5.92337 0 9.3615 0Z' fill='%238F8F8F' fillOpacity='1.000000' fillRule='nonzero' /%3e%3c/svg%3e");
}

.logo_wraper-settings a {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22.596710' height='23.786133' viewBox='0 0 22.5967 23.7861' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cpath id='Vector' d='M12.1514 0C13.0508 0 13.8651 0.499512 14.3148 1.23682C14.5336 1.59375 14.6794 2.03369 14.643 2.49756C14.6187 2.85425 14.728 3.21118 14.9225 3.54419C15.5424 4.55493 16.9158 4.93555 17.9854 4.36475C19.1886 3.67505 20.7079 4.09131 21.4007 5.26855L22.215 6.67188C22.9199 7.84937 22.531 9.35986 21.3156 10.0376C20.2825 10.6443 19.9179 11.988 20.5377 13.011C20.7322 13.332 20.951 13.6057 21.2913 13.7722C21.7167 13.998 22.0448 14.355 22.2758 14.7117C22.7255 15.449 22.689 16.3528 22.2514 17.1497L21.4007 18.5769C20.951 19.3381 20.1123 19.8137 19.2494 19.8137C18.824 19.8137 18.35 19.6948 17.961 19.457C17.645 19.2549 17.2804 19.1833 16.8915 19.1833C15.6882 19.1833 14.6794 20.1707 14.643 21.3479C14.643 22.7156 13.5248 23.7861 12.127 23.7861L10.4741 23.7861C9.06421 23.7861 7.94601 22.7156 7.94601 21.3479C7.92171 20.1707 6.91292 19.1833 5.70966 19.1833C5.30856 19.1833 4.94394 19.2549 4.64009 19.457C4.25116 19.6948 3.765 19.8137 3.35175 19.8137C2.47665 19.8137 1.63802 19.3381 1.18831 18.5769L0.34967 17.1497C-0.100021 16.3767 -0.124329 15.449 0.325363 14.7117C0.519836 14.355 0.88446 13.998 1.2977 13.7722C1.63802 13.6057 1.8568 13.332 2.06342 13.011C2.67113 11.988 2.3065 10.6443 1.27339 10.0376C0.0701294 9.35986 -0.318802 7.84937 0.373993 6.67188L1.18831 5.26855C1.89325 4.09131 3.40038 3.67505 4.61578 4.36475C5.67319 4.93555 7.04662 4.55493 7.66647 3.54419C7.86095 3.21118 7.97032 2.85425 7.94601 2.49756C7.92171 2.03369 8.0554 1.59375 8.28633 1.23682C8.73604 0.499512 9.55037 0.0236816 10.4376 0L12.1514 0ZM11.3127 8.53906C9.40451 8.53906 7.86095 10.0376 7.86095 11.9048C7.86095 13.7722 9.40451 15.2588 11.3127 15.2588C13.2209 15.2588 14.728 13.7722 14.728 11.9048C14.728 10.0376 13.2209 8.53906 11.3127 8.53906Z' fill='%238F8F8F' fillOpacity='1.000000' fillRule='nonzero' /%3e%3c/svg%3e");
}

.logo_wraper ul li:last-child {
	padding-top: 45px;
	border-top: 1px solid rgb(143, 143, 143);
}


.logo_wraper svg path {
	fill: #8F8F8F;
}


.logo_wraper>a {
	margin-top: 2%;
	padding: 0 30px 0 40px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-family: "BakbakOne-Regular";
	font-size: 22px;
	line-height: 31px;
	text-decoration: none;
}

.logo_wraper-exit {
	position: relative;
	height: 25px;
	width: 25px;
	cursor: pointer;
}


.logo_wraper-exit::after {
	display: block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25.975250' height='25.000000' viewBox='0 0 25.9753 25' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cpath id='Vector' d='M11.8659 0C14.9691 0 17.5 2.48755 17.5 5.55005L17.5 11.5376L9.86919 11.5376C9.32231 11.5376 8.88989 11.9624 8.88989 12.5C8.88989 13.0249 9.32231 13.4624 9.86919 13.4624L17.5 13.4624L17.5 19.4375C17.5 22.5 14.9691 25 11.8405 25L5.6468 25C2.53088 25 0 22.5125 0 19.45L0 5.5625C0 2.48755 2.54361 0 5.65952 0L11.8659 0ZM20.6752 8.18774C21.0502 7.80029 21.6628 7.80029 22.0378 8.17529L25.6877 11.8127C25.8752 12.0002 25.9753 12.2378 25.9753 12.5002C25.9753 12.7502 25.8752 13.0002 25.6877 13.1753L22.0378 16.8127C21.8503 17.0002 21.6003 17.1003 21.3627 17.1003C21.1127 17.1003 20.8627 17.0002 20.6752 16.8127C20.3002 16.4377 20.3002 15.8252 20.6752 15.4502L22.6752 13.4626L17.5002 13.4626L17.5002 11.5378L22.6752 11.5378L20.6752 9.55029C20.3002 9.17529 20.3002 8.56274 20.6752 8.18774Z' fill='%23484A51' fillOpacity='1.000000' fillRule='nonzero' /%3e%3c/svg%3e");
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 25px;
	width: 25px;
	background-position: center;
	background-repeat: no-repeat;
}