.content_wraper-news {
	border-radius: 20px;
	background: rgb(39, 41, 50);
	padding: 25px 45px 25px 25px;
}

.content_wraper form {
	position: relative;
}

.newsfeed_conteiner-navigation {
	display: block;
	column-gap: 14px;
}

.content_wraper-news h1 {
	color: rgb(140, 103, 246);
	font-family: "Montserrat-ExtraBold";
	font-size: 12px;
	line-height: 38px;
	text-transform: capitalize;
}


.content_wraper-news h2 {
	color: rgb(255, 255, 255);
	font-family: "BakbakOne-Regular";
	font-size: 30px;
	font-weight: 400;
	line-height: 38px;
	text-transform: capitalize;
}

.content_wraper p {
	color: rgba(255, 255, 255, 0.8);
	font-size: 11px;
	line-height: 16px;
	font-family: "Montserrat-Ligh";
}

.newsfeed_textarea {
	background: var(--mainBlack);
	outline: none;
	border: none;
	width: 100%;
	color: rgb(165, 165, 165);
	resize: none;
	border-radius: 10px;
	padding: 15px 145px 16px 15px;
	min-height: 60px;
	max-height: 100px;
}

.newsfeed_textarea::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.newsfeed_button-create {
	width: 88px;
	height: 28px;
	color: rgb(255, 255, 255);
	font-family: "Montserrat-SemiBold";
	font-size: 11px;
	border-radius: 6px;
	background: rgb(140, 103, 246);
}

.newsfeed_button-smile {
	position: relative;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.newsfeed_button-smile::after {
	content: '';
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 25px;
	width: 25px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12.479980' height='12.479736' viewBox='0 0 12.48 12.4797' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e Created with Pixso. %3c/desc%3e%3cdefs/%3e%3cpath id='Vector' d='M6.23999 0C4.58502 0 2.99786 0.657471 1.82764 1.82764C0.65741 2.9978 0 4.58496 0 6.23999C6.10352e-05 7.05933 0.161499 7.87085 0.475098 8.62793C0.788757 9.38501 1.24841 10.0728 1.82788 10.6523C2.40735 11.2317 3.09528 11.6912 3.85236 12.0049C4.60944 12.3184 5.4209 12.4797 6.2403 12.4797C7.05975 12.4797 7.87122 12.3181 8.62823 12.0046C9.38531 11.6909 10.0732 11.2312 10.6526 10.6519C11.232 10.0723 11.6916 9.38452 12.0051 8.6272C12.3187 7.87012 12.48 7.05884 12.48 6.23926C12.48 2.7937 9.68567 0 6.23999 0ZM6.23999 11.1794C5.58655 11.1868 4.93811 11.0647 4.33221 10.8198C3.72632 10.575 3.17505 10.2122 2.71033 9.75269C2.24561 9.29321 1.87665 8.74634 1.62482 8.14331C1.37299 7.54028 1.24335 6.89307 1.24335 6.23975C1.24335 5.58618 1.37299 4.93921 1.62482 4.33618C1.87665 3.73315 2.24561 3.18604 2.71033 2.72656C3.17505 2.26709 3.72632 1.90454 4.33221 1.65967C4.93811 1.41479 5.58655 1.29248 6.23999 1.30005C6.89343 1.29248 7.54193 1.41479 8.14777 1.65967C8.75366 1.90454 9.30493 2.26709 9.76965 2.72656C10.2344 3.18604 10.6034 3.73315 10.8552 4.33618C11.107 4.93921 11.2366 5.58618 11.2366 6.23975C11.2366 6.89307 11.107 7.54028 10.8552 8.14331C10.6034 8.74634 10.2344 9.29321 9.76965 9.75269C9.30493 10.2122 8.75366 10.575 8.14777 10.8198C7.54193 11.0647 6.89343 11.1868 6.23999 11.1794ZM4.61566 6.07739C5.15387 6.07739 5.59003 5.5686 5.59003 4.93994C5.59003 4.31152 5.1532 3.80249 4.61499 3.80249C4.07678 3.80249 3.64001 4.31152 3.64001 4.93994C3.64001 5.5686 4.07678 6.07739 4.61566 6.07739ZM7.86499 6.07739C8.40387 6.07739 8.84003 5.5686 8.84003 4.93994C8.84003 4.31152 8.4032 3.80249 7.86499 3.80249C7.32678 3.80249 6.89001 4.31201 6.89001 4.93994C6.89001 5.56787 7.32678 6.07739 7.86499 6.07739ZM9.06165 7.1084C8.9469 7.05054 8.81409 7.03979 8.69165 7.07886C8.56915 7.11768 8.4668 7.20288 8.40643 7.31641C8.38434 7.35938 7.84161 8.35181 6.24066 8.35181C4.64752 8.35181 4.1015 7.36841 4.07422 7.31714C4.01575 7.20166 3.91388 7.11426 3.79095 7.07397C3.66797 7.03369 3.53412 7.0437 3.4187 7.10229C3.30328 7.16064 3.21576 7.26245 3.17548 7.3855C3.13519 7.50854 3.14539 7.64233 3.20386 7.75781C3.23633 7.82202 4.01508 9.3269 6.24066 9.3269C8.46692 9.3269 9.24432 7.82153 9.27612 7.75708C9.33344 7.64258 9.34302 7.51001 9.3028 7.38843C9.26263 7.26685 9.1759 7.16626 9.06165 7.1084Z' fill='%23D0A248' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
}

.newsfeed_input-file {
	cursor: pointer;
}